/*Botoes*/

.cmc {
    color: white;
    background-color: black;
    font-weight: 600;
    margin-right: .2rem;
}

.planos {
    color: white;
    background-color: #1d75de;
    border: 2px solid white;
    font-weight: 600;
    
/*botoes*/
} 

.menu {
    background-color: black;
    display: flex;
    justify-content:flex-end;
    gap: 2rem;
    padding-right: 4.2326rem;

}

.termos {
    color: white;
    margin-top: .3rem;
    font-size: .621rem;
    font-weight: 500;
}

.perio-test a {
    color: white;
}

.especial {
    font-weight: 100;
    font-size: 1rem;
}

.perio-test {
    background-color: #1d75de;
    padding-top: 4.5rem;
    padding-left: 4rem;
    padding-bottom: 2.565rem;
    color: white;
}

.menu a,
.especial {
    color: white;
    text-decoration: none;
    font-size: .92rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem; 
}